.login-container {
  display: flex;
  flex-direction: column;
  padding: 23px 26px 0 26px;
  border-radius: 10px;
  background: #fff;
  height: 100%;
}



.login-container .title {
  width: 100%;
  float: left;
  line-height: 46px;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #ED2553;
  position: relative;

}

.login-container .login-input-container {
  display: flex;
  flex-direction: column;
}

.button-login {
  margin: 30px 0 30px 0;
}

.mat-form-field {
  margin-top: 30px;
}

